<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="HTLVBFingerflitzer.Web.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script>
        window.globalKeyHandler = {
            initialize: function (dotNetHelper) {
                const handler = function (e) {
                    dotNetHelper.invokeMethodAsync("OnKeyDown", e.key);
                };
                document.addEventListener("keydown", handler);

                return {
                    dispose: function () {
                        console.log("Disposing event handler");
                        document.removeEventListener("keydown", handler);
                    }
                };
            }
        };
    </script>
</body>

</html>
